 /* these variables are for adminManagement.js files */
 
 /* every button has the "btn-primary" class, so we can change all buttons on the page 
  by specifying this class  to access or override this style, call and each individual button use 
  [".EmployeeTable button" : delete button, ".AddEmployeeSection button" : addEmployee button, ".submitButton" : submit */
.btn-primary{
    background-color: #a61a11;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
}  

.btn-primary:hover
{
  background-color: #c71f16;
}

.AddEmployeeSection  
{
  margin-top: 20px;
  text-align: center;
}

.AddEmployeeSection {
    margin-bottom: 20px;
}

.row {
  display:flex; 
  padding: 10px;
}

.formLabel {
  margin-right: 10px;
}


/* .AddEmployeeSection input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 25px;

  } */
  
  /* .AddEmployeeSection {
    display: inline-block ;
  } */

.AddEmployeeForm {
    background-color: blue;
    
}

/* .AddEmployeeForm {
  border-collapse: collapse;
  margin:0 auto;
  font-size: 20px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
} */
