/* This css sheet is for both the employeetable.js and adminManagement.js files */
.EmployeeTable {
    border-collapse: collapse;
    margin:0 auto;
    font-size: 20px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-top: 20px;
  }
  .EmployeeTableContainer .title {
    text-align: center;
    color: #a61a11;
  }
  
  .EmployeeTable th,
  .EmployeeTable td {
    padding: 25px;
    border: 1px solid #ccc;

  }
  
  .EmployeeTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .EmployeeTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .EmployeeTable tr:hover {
    background-color: #ddd;
  }
  
  

 



  

  


  

 
