.container {
  display: flex;
  margin-top: 100px;
}

.section {
  flex: 33%;
  /* align-items: center; */
}

.calendarSection {
  flex: 0 0 33%;
  zoom: 1.7;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #c71f16;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #a61a11;
}

.submit-button:disabled {
  opacity: 0.5;
  /* Reduce opacity for disabled state */
  cursor: not-allowed;
  /* Change cursor to indicate it's not clickable */
}