#ForgotPasswordContainer {
    background-color: rgb(255, 124, 124);
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    max-width: 900px;
    display: flex; 
  }

h2 {
  color: green;
}
