  #LoginContainer {
    background-color: rgb(255, 124, 124);
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    max-width: 800px;
    display: flex; 
  }

  h1 {
    font-size: 40px;
    color: #a61a11;
  }


  .row {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    color: #a61a11;
  }

 
  .SuccessMessage {
    font-weight: bold;
    font-size: 20px;
    color: green;
  }