  #LoginContainer {
    background-color: rgb(167, 156, 133);
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    width: 40%;
    display: flex;
  }

  h1 {
    font-size: 40px;
    color: #a61a11;
    padding-bottom: 20px;
  }


  .row {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    color: #black;
  }


  .SuccessMessage {
    font-weight: bold;
    font-size: 20px;
    color: green;
  }