#ResetPasswordContainer {
  background-color: rgb(167, 156, 133);
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    display: flex; 
    width: 60%;
  }

  p {
    padding-top: 20px;
    text-align: center;
  }
   
  h2{
    
    color: #a61a11;
    /* text-shadow: #000 0px 0px 3px;  this adds black outline around words*/
    
}

#redirectToHome {
  text-align: center;
}

#statusMessage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: blue
}
  
