#ResetPasswordContainer {
    background-color: rgb(255, 124, 124);
    margin-top: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    /* max-width: 800px; */
    display: flex; 
  }

  p {
    padding-top: 20px;
    text-align: center;
  }
   
  h2{
    
    color: rgb(255, 124, 124);
    /* text-shadow: #000 0px 0px 3px;  this adds black outline around words*/
    
}

#redirectToHome {
  text-align: center;
}

#statusMessage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: blue
}
  
